body{
  margin: 0;
}

.menu{
  border: solid 1px;
  padding-left: 65%;
  margin: 0;
  height: 50px;
  background: #44618e;
  padding-top: 20px;
}

li{
  /* border: 1px solid red; */
  display: inline-block;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}


.negritas{
  color: red
}

.principal{
  border: 1px solid red;
  height: 400px;
  background: rgb(89, 23, 133);

}

.secundario{
  border: 2px solid green;
  height: 200px;
  background: rgb(104, 95, 14);
  width: 80%;
  margin: auto;
  text-align: center;
}

